@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
.button, .resetBtn, .button--primary {
  border: none;
  color: white;
  padding: 15px 32px;
}

.button:hover, .resetBtn:hover, .button--primary:hover {
  background-color: #3d405f;
  cursor: pointer;
  transition: 0.2s;
}

.button:active, .resetBtn:active, .button--primary:active {
  background-color: #3d405f;
}

.button:focus, .resetBtn:focus, .button--primary:focus {
  outline: none;
}

.button:disabled, .resetBtn:disabled, .button--primary:disabled {
  background-color: #666a9c;
}

.button:disabled:hover, .resetBtn:disabled:hover, .button--primary:disabled:hover {
  background-color: #666a9c;
}

.button:disabled:active, .resetBtn:disabled:active, .button--primary:disabled:active {
  background-color: #666a9c;
}

.button:disabled:focus, .resetBtn:disabled:focus, .button--primary:disabled:focus {
  outline: none;
}

.button--primary {
  padding: 14px;
  font-size: 20px;
  background: rgb(81, 85, 126);
  border-radius: 6px;
  font-weight: 700;
  align-self: flex-end;
}

.resetBtn {
  background-color: rgb(81, 85, 126);
  border-radius: 6px;
  padding: 8px;
}
.resetBtn:hover {
  background-color: #3d405f;
}
.resetBtn > svg {
  fill: rgb(255, 255, 255);
  height: 16px;
  width: 16px;
  display: block;
  margin: 0 auto;
}
.resetBtn > svg:hover {
  fill: white;
}
.resetBtn:active {
  background-color: #3d405f;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 36, 48);
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 16px;
}

.title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 16px;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.5vh;
  gap: 12px;
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 6px;
  margin-top: -28px;
  margin-left: 130px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
  border: 1px solid rgb(81, 85, 126);
  background-color: #18202a;
  width: 100%;
  padding: 4em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.inputChannelname {
  padding: 14px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  border: 1px solid rgb(61, 85, 194);
}
.inputChannelname:focus {
  outline: none;
  border: 1px solid rgb(81, 85, 194);
  transition: 0.2s;
}

.params {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputName {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.information {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: 6px;
}

.settings .information {
  position: absolute;
  bottom: 0;
}

#informations {
  margin-bottom: 22px;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

#chat-container {
  position: absolute;
  padding: 16px;
  bottom: 0;
  overflow: hidden;
  background-color: transparent;
  font-size: 16px;
  font-weight: 800;
  width: calc(100% - 20px);
}
#chat-container::-webkit-scrollbar {
  display: none;
}

.checked {
  background-color: #1b2430;
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.notification-box {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  color: #000;
  padding: 8px 12px 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-left: 8px solid rgb(81, 85, 126);
  top: 25px;
  right: 35px;
  animation: slide-in 0.5s ease-in-out;
}
.notification-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
.notification-message {
  font-weight: 400;
  font-size: 14px;
}
.notification-title {
  font-weight: 700;
}

.message {
  font-weight: 700;
  color: white;
  width: 450px;
  box-sizing: border-box;
  padding: 8px;
}
.message:not(:last-child) {
  margin-bottom: 16px;
}

.username {
  font-weight: 700;
}
.username > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.user-badges > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.emote {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.no-animation:last-child {
  animation: none;
  transition: none;
}

.animation:last-child {
  animation: slide-in 0.5s ease-in-out;
}

#events {
  position: absolute;
  padding: 16px;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
  color: rgb(194, 128, 128);
}

.inputChannelname {
  padding: 14px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  border: none;
  margin-bottom: 0px;
}

.message-preview {
  width: 40%;
  padding: 24px;
  border-radius: 8px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.05);
}

.item {
  flex: 1 0 40%;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;
  border: 1px solid rgb(81, 85, 126);
}

#fontSizeValue {
  font-weight: 300;
  font-size: 16px;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  min-height: 50px;
}

.demo-title {
  flex: 0 0 100%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  border: none;
  padding: 6px;
}

.settings {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 50vw;
}

.message-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3), 0 -1.5px 3px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 16px;
  min-height: 220px;
  max-height: 220px;
  word-break: break-all;
  width: 100%;
}

.range {
  width: 350px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(81, 85, 126);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgb(81, 85, 126);
  cursor: pointer;
  border: 4px solid #202020;
  box-shadow: -407px 0 0 400px rgb(81, 85, 126);
}

.range:focus {
  outline: none;
}

input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
  border: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px rgb(33, 34, 51);
  background: rgb(81, 85, 126);
  border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px rgb(81, 85, 126);
  border: 2px solid rgb(127, 132, 185);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: rgb(81, 85, 126);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(81, 85, 126);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px rgb(33, 34, 51);
  background: rgb(81, 85, 126);
  border-radius: 4px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px rgb(81, 85, 126);
  border: 2px solid rgb(127, 132, 185);
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: rgb(81, 85, 126);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -7px;
}

.flex-1 {
  flex: 1 1 100%;
  justify-content: left;
  padding: 16px;
  margin: 0 auto;
}

.flex-2 {
  flex: 0 1 25%;
  align-items: center;
  justify-content: left;
  padding: 16px;
  margin: 0 auto;
}

.inputWidth {
  width: 100%;
  height: 3vh;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 2.5em;
  padding: 0;
  width: 2.5em;
  margin-bottom: -8px;
}
input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}
input[type=color]::-moz-color-swatch {
  border: none;
}
input[type=color]::-webkit-color-swatch {
  border: none;
}
input[type=color]::-moz-focus-inner {
  border: none;
  padding: 0;
}
input[type=color]:onfocus {
  border: none;
  outline: none;
}

.badgesSettings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

input[type=checkbox] {
  background: none;
  border: 3px solid rgb(81, 85, 126);
  cursor: pointer;
  height: 2.5em;
  padding: 0;
  width: 2.5em;
  border-radius: 50%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.checkbox {
  --border: #d1d6ee;
  --border-hover: #bbc1e1;
  --border-active: #1e2235;
  --tick: #fff;
  position: relative;
}

.checkbox input,
.checkbox svg {
  width: 41px;
  height: 41px;
  display: block;
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  outline: none;
  background-color: rgb(81, 85, 126);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
}

.checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover);
}

.checkbox input:checked {
  --b: var(--border-active);
}

.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
  --s: 2px;
  transition-delay: 0.4s;
}

.checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}

.checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}

.checkbox.bounce {
  --stroke: var(--tick);
}

.checkbox.bounce input:checked {
  --s: 11px;
}

.checkbox.bounce input:checked + svg {
  animation: bounce 0.4s linear forwards 0.2s;
}

.checkbox.bounce svg {
  --scale: 0;
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.checkbox input:not(:checked) {
  background-color: transparent;
  border: 3px solid rgb(81, 85, 126);
}

option {
  background-color: rgb(81, 85, 126);
  color: white;
  font-weight: 700;
}

select {
  background-color: rgb(81, 85, 126);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 12px;
  text-overflow: ellipsis;
}

select:focus {
  outline: none;
  border: 1px solid rgb(81, 85, 194);
  transition: 0.2s;
}

select option {
  background-color: rgb(81, 85, 126);
  color: white;
  font-weight: 700;
}

select option:hover {
  background-color: rgb(81, 85, 194);
  color: white;
  font-weight: 700;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select::-ms-expand {
  display: none;
}

.footer {
  padding: 8vh;
  padding-bottom: 3vh;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
