@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap");

html,
body {
  font-family: "Noto Sans", sans-serif;
  color: white;

  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  /* background: rgba(0, 0, 0, 0.5); */
  background-color: rgb(27, 36, 48);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 16px;
}

.beta {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  margin-top: 6px;
  margin-bottom: 6px;
  /* transform: rotate(-35deg); */
  margin-top: -28px;
  margin-left: 130px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  padding: 14px;
  font-size: 20px;
  background: rgb(81, 85, 126);
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background: rgba(81, 85, 194, 0.8);
  transition: 0.2s;
}

input {
  padding: 14px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  border: 1px solid rgb(61, 85, 194);
}

input:focus {
  outline: none;
  border: 1px solid rgb(81, 85, 194);
  transition: 0.2s;
}

.params {
  display: flex;
  flex-direction: column;
}

.params > p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.generate {
  align-self: flex-end;
}

.information {
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  margin-top: 6px;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

#chat-container {
  position: absolute;
  padding: 16px;
  bottom: 0;
  overflow: hidden;
  background-color: transparent;
  font-size: 16px;
  font-weight: 800;
  width: calc(100% - 20px);
}

.checked {
  background-color: #1b2430;
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.notification-box {
  position: absolute;
  border-radius: 8px;
  background: #fff;
  color: #000;
  padding: 8px 12px 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-left: 8px solid rgb(81, 85, 126);

  top: 25px;
  right: 35px;

  animation: slide-in 0.5s ease-in-out;
}

.notification-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.notification-message {
  font-weight: 400;
  font-size: 14px;
}

.notification-title {
  font-weight: 700;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

.message {
  font-weight: 700;
  color: white;
  width: 450px;
  box-sizing: border-box;
  padding: 8px;
}

.message:not(:last-child) {
  margin-bottom: 16px;
}

.username {
  font-weight: 700;
}

.user-badges > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.emote {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.no-animation:last-child {
  animation: none;
  transition: none;
}

.animation:last-child {
  animation: slide-in 0.5s ease-in-out;
}

#events {
  position: absolute;
  padding: 16px;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
  color: rgb(194, 128, 128);
}

.inputChannelname {
  padding: 14px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 700;
  border: none;
  margin-bottom: 0px;
}

/* ---------- Params ------------ */

.message-preview {
  width: 40%;
  padding: 24px;
  border-radius: 8px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.05);
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vw;
  padding: 0 16px;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  width: 35%;
}

.item {
  flex: 1 0 40%;
  padding: 18px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  height: 100px;
  border: 1px solid rgb(81, 85, 126);
}

#fontSizeValue {
  font-weight: 300;
  font-size: 16px;
}

/* .range {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
} */

input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  border: none;
  padding: 6px;
  margin-bottom: 16px;
}

.range {
  width: 350px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(81, 85, 126);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgb(81, 85, 126);
  cursor: pointer;
  border: 4px solid #202020;
  box-shadow: -407px 0 0 400px rgb(81, 85, 126);
}

.range:focus {
  outline: none;
}

#reset {
  margin-top: 16px;
  font-size: 14px;
  padding: 8px;
}
